.profile {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    margin-bottom: -75px;
}

.profile-avatar {
    transform: translateY(-50%);
    display: grid;
    justify-items: center;
    align-items: center;

    &>* {
        grid-column-start: 1;
        grid-row-start: 1;
    }
}

img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

@media (max-width: 991px) {
    .profile {
        display: flex;
        justify-content: center;
        padding-left: 0px;
    }
}