<div class="cover"></div>
<div class="col-md-12">
    <div class="card card-container">
        <h3>Nueva cuenta</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <div class="alert alert-danger" *ngIf="submitted && isSignUpFailed">
                    <p>{{ errorMessage }}</p>
                </div>
            </div>

            <!-- <div class="mb-3">
                <label for="name">Nombre</label>

                <input formControlName="name" class="form-control" placeholder="Nombre" name="name"
                    [ngClass]="{ 'is-invalid': submitted && nameForm?.errors }">

                <div *ngIf="submitted && nameForm?.errors" class="invalid-feedback">
                    <div *ngIf="nameForm?.errors?.['required']">Requerido</div>
                    <div *ngIf="nameForm?.errors?.['minlength']">Debe tener al menos 3 caracteres</div>
                    <div *ngIf="nameForm?.errors?.['maxlength']">Debe tener como máximo 32 caracteres</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="lastname">Apellido</label>

                <input formControlName="lastname" class="form-control" placeholder="Apellido" name="lastname"
                    [ngClass]="{ 'is-invalid': submitted && lastnameForm?.errors }">

                <div *ngIf="submitted && lastnameForm?.errors" class="invalid-feedback">
                    <div *ngIf="lastnameForm?.errors?.['required']">Requerido</div>
                    <div *ngIf="lastnameForm?.errors?.['minlength']">Debe tener al menos 3 caracteres</div>
                    <div *ngIf="lastnameForm?.errors?.['maxlength']">Debe tener como máximo 32 caracteres</div>
                </div>
            </div> -->

            <div class="mb-3">
                <label for="username">Nombre de usuario</label>

                <input formControlName="username" class="form-control" placeholder="Nombre de usuario" name="username"
                    [ngClass]="{ 'is-invalid': submitted && usernameForm?.errors }">

                <div *ngIf="submitted && usernameForm?.errors" class="invalid-feedback">
                    <div *ngIf="usernameForm?.errors?.['required']">Requerido</div>
                    <div *ngIf="usernameForm?.errors?.['minlength']">Debe tener al menos 6 caracteres</div>
                    <div *ngIf="usernameForm?.errors?.['maxlength']">Debe tener como máximo 15 caracteres</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="email">Correo electronico</label>

                <input formControlName="email" class="form-control" placeholder="Correo electronico" name="email"
                    [ngClass]="{ 'is-invalid': submitted && emailForm?.errors }">

                <div *ngIf="submitted && emailForm?.errors" class="invalid-feedback">
                    <div *ngIf="emailForm?.errors?.['required']">Requerido</div>
                    <div *ngIf="emailForm?.errors?.['minlength']">Debe tener al menos 5 caracteres</div>
                    <div *ngIf="emailForm?.errors?.['email']">Debe ser una dirección de correo electrónico válida</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="password">Contraseña</label>

                <input formControlName="password" class="form-control" placeholder="Contraseña" name="password"
                    (change)="onPasswordChange()" [ngClass]="{ 'is-invalid': submitted && passwordForm?.errors }">

                <div *ngIf="submitted && passwordForm?.errors" class="invalid-feedback">
                    <div *ngIf="passwordForm?.errors?.['required']">Requerido</div>
                    <div *ngIf="passwordForm?.errors?.['minlength']">Debe tener al menos 8 caracteres</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="confirm">Confirmar contraseña</label>

                <input formControlName="confirm" class="form-control" placeholder="Confirmar contraseña" name="confirm"
                    (change)="onPasswordChange()" [ngClass]="{ 'is-invalid': submitted && confirmForm?.errors }">

                <div *ngIf="submitted && confirmForm?.errors" class="invalid-feedback">
                    <div *ngIf="confirmForm?.errors?.['required']">Requerido</div>
                    <div *ngIf="confirmForm?.errors?.['notmatched']">Contraseñas no coinciden </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group button">
                    <button type="submit" class="btn btn-primary btn-block">
                        Registrarse
                    </button>
                    <a [routerLink]="['/login']" routerLinkActive="router-link-active">Iniciar sesión</a>
                </div>
            </div>
        </form>
    </div>
</div>