.profile-background {
    display: flex;
    height: 333px;
    color: grey;
    position: relative;
    padding: 0px;
    margin: 0px;
}

img {
    width: 100%;
    border-radius: 32px 32px 0 0;
}

.action {
    position: absolute;
    top: 75px;
    right: 0px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-top: -50px;
}