section{
    display: flex;
}
  
  .switch {
      font-size: 1rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 3.5em;
      height: 1.5rem;
      background: #ddd;
      border-radius: 3em;
      position: relative;
      cursor: pointer;
      outline: none;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;

      &:checked {
          background: #0d6efd;
      }

      &:after {
          position: absolute;
          content: "";
          width: 1.5em;
          height: 1.5em;
          border-radius: 50%;
          background: #fff;
          -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
          box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
          -webkit-transform: scale(.7);
          transform: scale(.7);
          left: 0;
          -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
      }

      &:checked:after {
          left: calc(100% - 1.5em);
      }
  }