<router-outlet></router-outlet>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->
<!-- <header>
    <app-navbar></app-navbar>
</header> -->


<!-- <footer>
    <app-footer></app-footer>
</footer> -->
<!-- <card-form title="titulo">
    
</card-form> -->
<!-- <cards-container title="Experiencia" [isLoggedIn]="true" (btnClickCreate)="clickHandlerCreate('Create')">
    <card-item [images]="images" alt="placeholder"
        title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, cupiditate aliquid."
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia corrupti alias tempora quidem libero laboriosam! Aliquam, quis iusto nostrum eligendi molestiae perferendis optio eius quaerat perspiciatis at ut quasi officia."
        (btnClickEdit)="clickHandlerEdit('Edit')" (btnClickDelete)="clickHandlerDelete('Delete')" [isLoggedIn]="true">
        <card-images [images]="images"></card-images>
        <card-title title="Lorem ipm dolor sit,  dolor sit, amet consectetFT adipisicing elit. Voluptate, cupiditate aliquid."></card-title>
        <p class="card-text">Lorem s do sit amet, consectetFT adipisicing elit. Quia corrupti alias tempora quidem libero laboriosam! Aliquam, quis iusto nostrum eligendi molestiae perferendis optio eius quaerat perspiciatis at ut quasi officia.</p>

        image = image
        title = {{ description }}
        description = {{ company }}
        startDate
        endDate
        employment

        <card-epoch [startDate]="start" [endDate]="end"></card-epoch>
    </card-item>
</cards-container> -->

<!-- <cards-container title="Educación" [isLoggedIn]="true" (btnClickCreate)="clickHandlerCreate('Create')">
    <card-item image="https://via.placeholder.com/150" alt="placeholder"
        title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, cupiditate aliquid."
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia corrupti alias tempora quidem libero laboriosam! Aliquam, quis iusto nostrum eligendi molestiae perferendis optio eius quaerat perspiciatis at ut quasi officia."
        [isLoggedIn]="true" (btnClickEdit)="clickHandlerEdit('Edit')" (btnClickDelete)="clickHandlerDelete('Delete')">
   
        image = image
        title = {{ school }}
        descriptiom = {{ title o career }}
        startDate
        endDate
        category
    
        <card-epoch [startDate]="start" [endDate]="end"></card-epoch>
    </card-item>
</cards-container> -->


<!-- <cards-container title="Habilidades" [isLoggedIn]="true" (btnClickCreate)="clickHandlerCreate('Create')">
    <card-progress title="Java"
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia corrupti alias tempora quidem libero laboriosam! Aliquam, quis iusto nostrum eligendi molestiae perferendis optio eius quaerat perspiciatis at ut quasi officia."
        [actualPercent]="50" [isLoggedIn]="true" (btnClickEdit)="clickHandlerEdit('Edit')"
        (btnClickDelete)="clickHandlerDelete('Delete')"> </card-progress>

    <card-progress title="Java"
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia corrupti alias tempora quidem libero laboriosam! Aliquam, quis iusto nostrum eligendi molestiae perferendis optio eius quaerat perspiciatis at ut quasi officia."
        [actualPercent]="50" [isLoggedIn]="true" (btnClickEdit)="clickHandlerEdit('Edit')"
        (btnClickDelete)="clickHandlerDelete('Delete')"> </card-progress>

    <card-progress title="Java"
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia corrupti alias tempora quidem libero laboriosam! Aliquam, quis iusto nostrum eligendi molestiae perferendis optio eius quaerat perspiciatis at ut quasi officia."
        [actualPercent]="50" [isLoggedIn]="true" (btnClickEdit)="clickHandlerEdit('Edit')"
        (btnClickDelete)="clickHandlerDelete('Delete')"> </card-progress>

    <card-progress title="Java"
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia corrupti alias tempora quidem libero laboriosam! Aliquam, quis iusto nostrum eligendi molestiae perferendis optio eius quaerat perspiciatis at ut quasi officia."
        [actualPercent]="50" [isLoggedIn]="true" (btnClickEdit)="clickHandlerEdit('Edit')"
        (btnClickDelete)="clickHandlerDelete('Delete')"> </card-progress>

   
        title = {{ name }}
        description = {{ description }}
        progress
      
    <card-progress title="Java"
        description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia corrupti alias tempora quidem libero laboriosam! Aliquam, quis iusto nostrum eligendi molestiae perferendis optio eius quaerat perspiciatis at ut quasi officia."
        [actualPercent]="50" [isLoggedIn]="true" (btnClickEdit)="clickHandlerEdit('Edit')"
        (btnClickDelete)="clickHandlerDelete('Delete')"> </card-progress>

</cards-container> -->

<!-- <cards-container title="Proyectos" [isLoggedIn]="true" (btnClickCreate)="clickHandlerCreate('Create')">
    <card-item image="https://via.placeholder.com/150" alt="placeholder"
        title="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate, cupiditate aliquid." description="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia corrupti alias tempora quidem libero laboriosam! Aliquam, 
        quis iusto nostrum eligendi molestiae perferendis optio eius quaerat perspiciatis at ut quasi officia."
        (btnClickEdit)="clickHandlerEdit('Edit')" (btnClickDelete)="clickHandlerDelete('Delete')" [isLoggedIn]="true">
        
        title = {{ name }}
        description = {{ description }}
        link
        created
        images
       
        <a href="">link</a>
        <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer"></a> 
        <p class="card-text"><small class="text-muted">02/07/2022</small></p>
    </card-item>
</cards-container> -->

