<div class="cover"></div>
<div class="col-md-12">
    <div class="card card-container">
        <h3>Completar perfil</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <div class="alert alert-danger" *ngIf="submitted && isSignUpFailed">
                    <p>{{ errorMessage }}</p>
                </div>
            </div>

            <div class="mb-3">
                <label for="name">Nombre</label>

                <input formControlName="name" class="form-control" placeholder="Nombre" name="name"
                    [ngClass]="{ 'is-invalid': submitted && nameForm?.errors }">

                <div *ngIf="submitted && nameForm?.errors" class="invalid-feedback">
                    <div *ngIf="nameForm?.errors?.['required']">Requerido</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="lastname">Apellido</label>

                <input formControlName="lastname" class="form-control" placeholder="Apellido" name="lastname"
                    [ngClass]="{ 'is-invalid': submitted && lastnameForm?.errors }">

                <div *ngIf="submitted && lastnameForm?.errors" class="invalid-feedback">
                    <div *ngIf="lastnameForm?.errors?.['required']">Requerido</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="birthday">Fecha de nacimiento</label>
                <input type="date" formControlName="birthday" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && birthdayForm?.errors }">
    
                <div *ngIf="submitted && birthdayForm?.errors" class="invalid-feedback">
                    <div *ngIf="birthdayForm?.errors?.['required']">Requerido</div>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="about">Acerca de mi</label>

                <textarea formControlName="about" class="form-control" placeholder="Acerca de mi" rows="3" name="about"
                    [ngClass]="{ 'is-invalid': submitted && aboutForm?.errors }"></textarea>

                <div *ngIf="submitted && aboutForm?.errors" class="invalid-feedback">
                    <div *ngIf="aboutForm?.errors?.['required']">Requerido</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="title">Título</label>

                <input formControlName="title" class="form-control" placeholder="Título" name="title"
                    [ngClass]="{ 'is-invalid': submitted && titleForm?.errors }">

                <div *ngIf="submitted && titleForm?.errors" class="invalid-feedback">
                    <div *ngIf="titleForm?.errors?.['required']">Requerido</div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group button">
                    <button type="submit" class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>