<div class="input-group element">
    <label class="btn btn-default p-0">
        <input type="file" accept="image/*" multiple [ngClass]="ngClass" (change)="selectFiles($event)" />
        <!-- <fa-icon [icon]="faCamera"></fa-icon> -->
    </label>
</div>

<div class="container">
    <div class="container-images" *ngFor="let image of images; let i = index ">
        <div class="display-image">
            <img [src]="image" class="preview" />
            <input-button (btnClick)="onFileChangeDelete(i)" [name]="'delete'" [isDisabled]="false" [isLoggedIn]="true"></input-button>
        </div>
    </div>
</div>